/* LAYOUT */
.footer {
	border-top: 9px solid #4aaaa5;
	height:10%;
}



/* COLORS */
.font-mint {
	color: #4aaaa5;
}
.font-white {
	color:white;
}
.bg-gray {
	background-color: #666666;
	text-align: center;
	font-size:15px;
}
.bg-mint {
	background-color: #4aaaa5;
	height:40px;
}
.aboutme-text {
	margin-top: 20px;
}

/* PICS */
img {
	width:25%;
}
@media (max-width:760px) {
	img {
		width:60%;
	}
}

@media (max-width:640px) {
	img {
		width:95%;
	}
}
.social-icon {
	width:25%;
	float:left;
	margin-left:9px;
}


/* PICS */
.mb-35 {
	margin-bottom:35%;
}